body {
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat center center fixed;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
}

form {
    position: fixed;
    display: flex;
    width: 100%;
    height: calc(100% - 20px - 20px);
    padding: 20px 0;
    overflow-y: auto;
}

.login-view {
    margin: auto;
    width: 200px;
    font-family: cursive;
    border-radius: 10%;
    padding: 1em 3em;

    box-shadow: 0 0 30px 5px;
    -webkit-box-shadow: 0 0 30px 5px;
    -moz-box-shadow: 0 0 30px 5px;
    -o-box-shadow: 0 0 30px 5px;
}

.login-view .title {
    display: inline-block;
    text-align: center;
    margin: 10px 5px;
    font-size: 2em !important;
    line-height: normal !important;
}

.login-view input:not(.button) {
    width: 100%;
    min-width: 150px;
    height: 30px;
    margin: 5px;
}

.button {
    display: block;
    width: 100%;
    margin: 10px 0;
    color: blue;
    border-radius: 50px !important;
    height: 50px !important;
    cursor: pointer;
    margin-top: 50px;
}

input {
    font-family: cursive !important;
    border-radius: 5px;
    border-style: groove;
    background-color: silver;
}

label {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    height: initial !important;
}
