@import "login.css";

.button {
    color: blue;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat center center fixed;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
}

.login-view {
    font-family: cursive;
    border-radius: 10%;
    padding: 3em;

    box-shadow: 0 0 30px 5px;
    -webkit-box-shadow: 0 0 30px 5px;
    -moz-box-shadow: 0 0 30px 5px;
    -o-box-shadow: 0 0 30px 5px;
}

.title {
    font-size: 3.3em !important;
    line-height: normal !important;
}

.button {
    border-radius: 50px !important;
    height: 50px !important;
    cursor: pointer;
    margin-top: 50px;
}

input {
    border-radius: 5px;
    border-style: groove;
    background-color: silver;
}
label {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    height: initial !important;
}
#pswd_info {
    display:none;
    position:absolute;
    width:250px;
    margin-top:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#pswd_info h4 {
    margin-bottom: 10px;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    /*background:url(../images/invalid.png) no-repeat 0 50%;*/
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    /*background:url(../images/valid.png) no-repeat 0 50%;*/
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
