<!DOCTYPE html>
<html>
<head>
    <title>CoOrder</title>

    <link rel="icon" type="image/png" href="../static/images/title.png"/>

    <!--<link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css"/>-->

    <style>
        body {
            font-family: "Times New Roman", sans-serif;
            font-size: 1.2em;
        }
    </style>

    <script src="https://use.fontawesome.com/cbdd366b78.js"></script>
    <script type="text/javascript" language="javascript"
            src="com.dakor.app.MainModule/com.dakor.app.MainModule.nocache.js"></script>
</head>

<!--                                           -->
<!-- The body can have arbitrary html, or      -->
<!-- you can leave the body empty if you want  -->
<!-- to create a completely dynamic ui         -->
<!--                                           -->
<body style="margin: 0;"></body>

</html>
